<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Document</title>

        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='style.css') }}"
        />

        <!-- <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script> -->

        <!-- <img src="{{ url_for('static', filename='img.jpg') }}"> -->
    </head>
    <body>
        <h1>Users List</h1>
        <p>Random Numbers : {{ rrr }}</p>
        <p>user_list: {{ user_list }}</p>

        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            <tr>
                {% for dict_item in user_list %} {% for key, value in
                dict_item.items() %}

                <td>Key: {{key}}</td>
                <td>Value: {{value}}</td>
            </tr>
            {% endfor %} {% endfor %}
        </table>
    </body>
</html>
